<div tabindex="0" class="ui-select-container dropdown open"
     [class.ui-select-multiple]="multiple === true" [class.form-control]="multiple === true"
     (keyup)="mainKeyUp($event)" offClick (clickedOutside)="mainClickedOutside()"
     (focus)="multiple === true ? focusToInput() : null">
  <div [class.ui-disabled]="disabled"></div>

  <!-- single selected item -->
  <div class="ui-select-match" *ngIf="(multiple === false) && (!inputMode || noAutoComplete)">
    <div tabindex="-1" class="btn btn-default btn-secondary form-control ui-select-toggle"
         (click)="matchClick($event)" style="outline: 0;">
      <!--<span *ngIf="active.length <= 0" class="ui-select-placeholder text-muted">{{placeholder}}</span>-->
      <!--<span *ngIf="active.length > 0" class="ui-select-match-text pull-left"-->
      <!--[class.ui-select-allow-clear]="allowClear"-->
      <!--[innerHTML]="sanitize(active[0].text)"></span>-->
      <!--<i class="dropdown-toggle pull-right"></i>-->
      <!--<i class="caret pull-right"></i>-->
      <!--<a *ngIf="allowClear && active.length > 0" class="btn btn-xs btn-link pull-right"-->
      <!--style="margin-right: 10px; padding: 0;" (click)="removeClick(active[0], $event)">-->
      <!--<i class="glyphicon glyphicon-remove"></i>-->
      <!--</a>-->
    </div>
  </div>

  <!--&lt;!&ndash; multiple selected items &ndash;&gt;-->
  <!--<div class="ui-select-match" *ngIf="multiple === true">-->
  <!--<span *ngFor="let item of active">-->
  <!--<span tabindex="-1" class="btn btn-default btn-secondary btn-xs ui-select-match-item" type="button">-->
  <!--<a class="close" style="margin-left: 5px; padding: 0;" (click)="removeClick(item, $event)">&times;</a>-->
  <!--<span [innerHtml]="sanitize(item.text)"></span>-->
  <!--</span>-->
  <!--</span>-->
  <!--</div>-->

  <!-- live search an item from the list -->
  <input type="text" class="form-control ui-select-search"
         *ngIf="(multiple === true) || (inputMode && !noAutoComplete)"
         [tabindex]="multiple === false? -1: 0"
         (keypress)="inputKeyPress($event)"
         [disabled]="disabled"
         placeholder="{{optionsSelected.length? '': placeholder}}"
         (click)="multiple === true ? matchClick($event) : null"
         autocomplete="false"
         autocorrect="off"
         autocapitalize="off"
         spellcheck="false"
         role="combobox">

  <!-- options template -->
  <ul role="menu" class="ui-select-choices dropdown-menu" *ngIf="optionsOpened && options && options.length > 0">
    <li *ngFor="let opt of optionsFiltered; let idx=index" role="menuitem">
      <div class="divider dropdown-divider" *ngIf="opt.type === 'optgroup' && (idx > 0)"></div>
      <div class="dropdown-header" *ngIf="opt.type === 'optgroup'">{{opt.label}}</div>

      <div *ngFor="let option of (opt.options || [opt])" #choiceItem
           class="ui-select-choices-row" [class.active]="optionActive === option"
           (mouseenter)="optionActivate(option)" (click)="selectOption(option, $event)">
        <a href="javascript:void(0)" class="dropdown-item">
          <div>{{option.text}}</div>
        </a>
      </div>
    </li>
  </ul>

</div>