<ng-content></ng-content>
<div class="card card-block panel panel-default panel-body">
  <br>
  <div class="row" style="margin: 0px;">
    <tabset>
      <tab heading="Markup">
        <div class="card card-block panel panel-default panel-body">
          <pre class="prettyprint linenums lang-html">{{desc.html}}</pre>
        </div>
      </tab>
      <tab heading="TypeScript">
        <div class="card card-block panel panel-default panel-body">
          <pre class="prettyprint linenums lang-js">{{desc.ts}}</pre>
        </div>
      </tab>
    </tabset>
  </div>
</div>
