<h3>Select a color</h3>
<div class="example-block">
    <div class="example-block__item">
        <ngx-select [allowClear]="true"
                    [items]="items"
                    [disabled]="ngxDisabled"
                    [(ngModel)]="ngxValue"
                    placeholder="No city selected">
        </ngx-select>
        <p></p>
        <pre>{{ngxValue | json}}</pre>
        <div>
            <button class="btn btn-primary" (click)="ngxDisabled = !ngxDisabled">
                {{ngxDisabled ? 'Enable' : 'Disable'}}
            </button>
        </div>
    </div>
</div>
