<div class="selectivity-input example-input" style="width: 300px; margin-bottom: 20px;">
    <h3>Select multiple cities</h3>
    <ng2-selectivity [data]="value"
                     [multiple]="true"
                     [items]="items"
                     (data)="refreshValue($event)"
                     (selected)="selected($event)"
                     (removed)="removed($event)"
                     [placeholder]="'No city selected'"></ng2-selectivity>
    <p><pre>{{itemsToString(value)}}</pre></p>
</div>
