<div style="width: 300px; margin-bottom: 20px;">
    <h3>Select a single city</h3>
    <ng2-select [allow-clear]="true"
                [items]="items"
                [disabled]="disabled"
                (data)="refreshValue($event)"
                (selected)="selected($event)"
                (removed)="removed($event)"
                (typed)="typed($event)"
                [placeholder]="'No city selected'"></ng2-select>
    <p><pre>{{value.text}}</pre></p>
    <div>
        <button type="button" class="btn btn-primary"
                [(ng-model)]="disabledV" btn-checkbox
                btn-checkbox-true="1" btn-checkbox-false="0">
            {{disabled === '1' ? 'Enable' : 'Disable'}}
        </button>
    </div>
</div>
